<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Mba Search | Home</title>
    <% include ./partial/headerlink %>
  </head>
  <body>
    <% include ./partial/header %>
<!--====================================================================Container Section==========================================================================-->
<section id="categories" style="background: #f8f8f8;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12 col-xs-12">
                <div id="categories-icon-slider" class="categories-wrapper owl-carousel owl-theme">
                    <div class="item">
                        <a href="#">
                            <div class="category-icon-item">
                                <div class="icon-box">
                                    <div class="icon">
                                        <img src="img/category/img-1.png" alt="">
                                    </div>
                                    <h4>Bicycle</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="category-icon-item">
                                <div class="icon-box">
                                    <div class="icon">
                                        <img src="img/category/img-2.png" alt="">
                                    </div>
                                    <h4>Furniture</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="category-icon-item">
                                <div class="icon-box">
                                    <div class="icon">
                                        <img src="img/category/img-3.png" alt="">
                                    </div>
                                    <h4>Laptop</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="category-icon-item">
                                <div class="icon-box">
                                    <div class="icon">
                                        <img src="img/category/img-4.png" alt="">
                                    </div>
                                    <h4>Electronic</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="category-icon-item">
                                <div class="icon-box">
                                    <div class="icon">
                                        <img src="img/category/img-5.png" alt="">
                                    </div>
                                    <h4>Toys</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="category-icon-item">
                                <div class="icon-box">
                                    <div class="icon">
                                        <img src="img/category/img-6.png" alt="">
                                    </div>
                                    <h4>Cloths</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="category-icon-item">
                                <div class="icon-box">
                                    <div class="icon">
                                        <img src="img/category/img-1.png" alt="">
                                    </div>
                                    <h4>Bicycle</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="category-icon-item">
                                <div class="icon-box">
                                    <div class="icon">
                                        <img src="img/category/img-2.png" alt="">
                                    </div>
                                    <h4>Furniture</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <div class="category-icon-item">
                                <div class="icon-box">
                                    <div class="icon">
                                        <img src="img/category/img-3.png" alt="">
                                    </div>
                                    <h4>Laptop</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="featured section-padding" style="background: #f8f8f8;">
    <div class="container">
        <h1 class="section-title">Latest Products</h1>
        <div class="row">            
            <%if(posts.length>0){%>
                <%posts.forEach(post=>{%>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                        <div class="featured-box">
                            <figure>
                                <div >
                                    <div class="icon">
                                        <span class="bg-green"><i class="lni-heart"></i></span>
                                        <span><i class="lni-bookmark"></i></span>
                                    </div>
                                    <a href="#"><img class="img-fluid" src="uploads/<%=post.images[0].filename;%>" style="height: 300px;width: 100%;" alt=""></a>
                                </div>
                            </figure>
                            <div class="feature-content">
                                <div class="product">
                                    <a href="#"><%=post.categoryid.c_name;%> > </a>
                                    <a href="#"><%=post.subctid.subcatname;%></a>
                                </div>
                                <h4><a href="#"><%=post.btitle;%></a></h4>
                                <div class="meta-tag">
                                    <span>
                                        <a href="#"><i class="lni-user"></i><%=post.userid.name;%></a>
                                    </span>
                                    <span>
                                        <a href="#"><i class="lni-map-marker"></i><%=post.bcity.city_name;%> , <%=post.bstate.state_name;%></a>
                                    </span>
                                </div>
                                <p class="dsc"><%-post.description;%></p>
                                <div class="listing-bottom">
                                    <h3 class="price float-left">$<%=post.price%></h3>
                                    <a href="/post/<%=post._id;%>" class="btn btn-common float-right">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <%})%>
            <%}else{%>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
                    <div class="featured-box">
                       <p>NO DATA</p>
                    </div>
                </div>
            <%}%>
        </div>
    </div>
</section>
<!--=========================================End of Listing========================================================================-->
<section class="works section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="section-title">How It Works?</h3>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="works-item">
                    <div class="icon-box">
                        <i class="lni-users"></i>
                    </div>
                    <p>Create an Account</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="works-item">
                    <div class="icon-box">
                        <i class="lni-bookmark-alt"></i>
                    </div>
                    <p>Post Free Ad</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="works-item">
                    <div class="icon-box">
                        <i class="lni-thumbs-up"></i>
                    </div>
                    <p>Deal Done</p>
                </div>
            </div>
            <hr class="works-line">
        </div>
    </div>
</section>
<!--===============================subscribes==============================================================-->
<section class="subscribes section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="subscribes-inner">
                    <div class="icon">
                        <i class="lni-pointer"></i>
                    </div>
                    <div class="sub-text">
                        <h3>Subscribe to Newsletter</h3>
                        <p>and receive new ads in inbox</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <form>
                    <div class="subscribe">
                        <input class="form-control" name="EMAIL" placeholder="Enter your Email" required="" type="email">
                        <button class="btn btn-common" type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<% include ./partial/footer %>
</body>
</html>

